@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

@layer base {
  :root {
    --color-primary: 5 223 114; /* #05DF72 */
    --ui-font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, sans-serif;
  }

  .dark {
    color-scheme: dark;
  }

  html,
  body {
    font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, sans-serif;
  }

  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
  }
}
